body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #060606;
  color: #A1A1A1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  white-space: nowrap;
}

p { margin: 0; }

button {
  background-image: linear-gradient(to bottom, silver 50%, gray);
  color: #262626;
  border: 1px solid #262626;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

table {
  background-color: #262626;
  border: 2px solid #A1A1A1;
  border-collapse: collapse;
}

th, td { border: 1px solid black; }
th     { background-color: #161616; }

button:focus { outline: none; }

td.linealign { height: 72px; }
td.rowalign  { height: 91px; }

#page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  width: 100%;
  min-width: 1200px;
  height: 40px;
  min-height: 40px;
  background-image: linear-gradient(to right, #060606, #262626, #060606);
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}

#content {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#notes {
  width: 100%;
  min-width: 1020px;
  height: 60px;
  min-height: 60px;
  background-image: linear-gradient(to right, #060606, #262626, #060606);
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
}

#header-left {
  width: 200px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-middle {
  width: 800px;
  min-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-right {
  width: 200px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content::-webkit-scrollbar { display: none; }
#content { -ms-overflow-style: none; scrollbar-width: none; }

#notes-left {
  width: 200px;
  min-width: 200px;
}

#notes-middle {
  width: 1020px;
  min-width: 1020px;
}

#notes-right {
  width: 200px;
  min-width: 200px;
}

#content-breakpoints > table         { width: 800px; }
#content-craftingitem > table        { display: inline-table; }
#content-craftingrune > table        { display: inline-table; }
#content-runewordsweapons > table    { width: 1000px; }
#content-runewordsbodyarmors > table { width: 1000px; }
#content-runewordshelms > table      { width: 1000px; }
#content-runewordsshields > table    { width: 1000px; }
#content-cube                        { text-align: left; }

#content-runewordsweapons tr:nth-child(even)    { background-color: #060606; }
#content-runewordsbodyarmors tr:nth-child(even) { background-color: #060606; }
#content-runewordshelms tr:nth-child(even)      { background-color: #060606; }
#content-runewordsshields tr:nth-child(even)    { background-color: #060606; }

.hide         { display: none; }
.showblock    { display: block; }
.highlight    { color: #F1F1F1; }

.dropdowncontent            { position: absolute; z-index: 3; }
.dropdowncontent span       { display: block; width: 100px; min-width: 100px; padding: 5px 0px; background-color: #1F1F1F; cursor: pointer; }
.dropdowncontent span:hover { background-color: #A1A1A1; color: #1F1F1F; transition: 0.3s; }

a:link    { color: #B1B1B1; }
a:visited { color: #B1B1B1; }
a:hover   { color: #B1B1B1; }
a:active  { color: #B1B1B1; }

